Weel1. Pandas Titanic
====

In [1]:
import pandas
data = pandas.read_csv('titanic.csv', index_col='PassengerId')

In [2]:
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S

1. Какое количество мужчин и женщин ехало на корабле? В качестве ответа приведите два числа через пробел.

In [3]:
"{0} {1}".format(data['Sex'].value_counts()['male'], data['Sex'].value_counts()['female'])

'577 314'

Какой части пассажиров удалось выжить? Посчитайте долю выживших пассажиров. Ответ приведите в процентах (число в интервале от 0 до 100, знак процента не нужен).

In [4]:
"{0:.2f}".format((data[data.Survived == 1].shape[0] / data.shape[0]) * 100)

'38.38'

Какую долю пассажиры первого класса составляли среди всех пассажиров? Ответ приведите в процентах (число в интервале от 0 до 100, знак процента не нужен).

In [5]:
"{0:.2f}".format((data[data.Pclass == 1].shape[0] / data.shape[0]) * 100)

'24.24'

Какого возраста были пассажиры? Посчитайте среднее и медиану возраста пассажиров. В качестве ответа приведите два числа через пробел.

In [6]:
"{0:.2f} {1:.2f}".format(data["Age"].mean(), data["Age"].median())

'29.70 28.00'

Коррелируют ли число братьев/сестер с числом родителей/детей? Посчитайте корреляцию Пирсона между признаками SibSp и Parch

In [7]:
"{0:.2f}".format(data.corr(method='pearson')["SibSp"]["Parch"])

'0.41'

Какое самое популярное женское имя на корабле? Извлеките из полного имени пассажира (колонка Name) его личное имя (First Name). Это задание — типичный пример того, с чем сталкивается специалист по анализу данных. Данные очень разнородные и шумные, но из них требуется извлечь необходимую информацию. Попробуйте вручную разобрать несколько значений столбца Name и выработать правило для извлечения имен, а также разделения их на женские и мужские.

In [8]:
data["Name"].str.replace(r'.*(?:Mrs|Miss)\. ?(?:.*\()?(\w+).*', r'\1').value_counts()[:1]

Anna    15
Name: Name, dtype: int64

2
===

1. Загрузите выборку из файла titanic.csv с помощью пакета Pandas.
2. Оставьте в выборке четыре признака: класс пассажира (Pclass), цену билета (Fare), возраст пассажира (Age) и его пол (Sex).
3. Обратите внимание, что признак Sex имеет строковые значения.
4. Выделите целевую переменную — она записана в столбце Survived.
5. В данных есть пропущенные значения — например, для некоторых пассажиров неизвестен их возраст. Такие записи при чтении их в pandas принимают значение nan. Найдите все объекты, у которых есть пропущенные признаки, и удалите их из выборки.
6. Обучите решающее дерево с параметром random_state=241 и остальными параметрами по умолчанию.
7. Вычислите важности признаков и найдите два признака с наибольшей важностью. Их названия будут ответами для данной задачи (в качестве ответа укажите названия признаков через запятую или пробел, порядок не важен).

In [19]:
import numpy as np
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier

data = pandas.read_csv('titanic.csv', index_col='PassengerId')
cleaned = data[['Pclass','Fare','Age','Sex','Survived']].dropna(axis=0)
X = cleaned[['Pclass','Fare','Age','Sex']]
X['Sex'] = X['Sex'].map(lambda x: 1 if x == 'male' else 0)
y = cleaned['Survived']

clf = DecisionTreeClassifier(random_state=241)
clf.fit(X, y)
tree.export_graphviz(clf, out_file='tree.dot')
clf.feature_importances_

C:\Users\boris\Anaconda3\lib\site-packages\ipykernel\__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

array([ 0.14000522,  0.30343647,  0.2560461 ,  0.30051221])

'Fare' and 'Sex' are most important